@page "/RecipeDetails"

@using AppState

@inject AppState state
@inject NavigationManager NavigationManager

<div class="p-5">
	<div class="">
		<button class="btn btn-primary" @onclick='_ => { NavigationManager.NavigateTo("/");}'>Back</button>
		<h1>@AppState.SelectedRecipe.Title</h1>
		<h4>Description: @AppState.SelectedRecipe.Description</h4>

		<img src="data:image/jpeg;base64,@AppState.SelectedRecipe.Image" style="width: 15vw; height: 15vh" />
		<div>
			<h4>Ingredients:</h4>
			@foreach (var ingredient in @AppState.SelectedRecipe.Ingredients)
			{
				<p>@ingredient.Name @ingredient.Quantity @ingredient.Unit</p>
			}
		</div>
		<div>
			<h4>Instructions:</h4>
			@foreach (var instruction in @AppState.SelectedRecipe.Instructions)
			{
				<p>@instruction.Step @instruction.Description</p>
			}
		</div>
	</div>
</div>
